  <div class="container">
    <h1 class="display-1 text-left text-md-left" style="margin-top: 100px; font-family: 'Charm', sans-serif;">Miło Cię widzieć</h1>
    <h2 class="display-4 text-left text-md-left" >Potrzebujesz informacji dotyczących filmów?</h2>
    <h2 class="display-4 text-left text-md-left" >A może chcesz wyrazić opinię na temat filmu?</h2>
    <p class="lead">Doskonale trafiłeś u nas znajdziesz wszystko!</p>
    <p class="text-muted">Zarejestruj się lub zaloguj i zaczynamy.</p>
    <a routerLink="/login" class="btn btn-info" role="button">Zaloguj się</a>&nbsp;
    <a routerLink="/register" class="btn btn-info" role="button">Zarejestruj się</a>
  </div>
