body
{
    background-size: cover;
    background-image: url(img/tlo2.jpg)
}

.container
{
    margin-top: 100px;
    color: white;

}

.btn
{
    margin-top: 10px;
    background-color: red
}