    <table style="opacity: 0.8;" class="table table-dark" >
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nazwa filmu</th>
            <th scope="col">Prezes</th>
            <th scope="col">Szczegóły</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let movie of movieArray">
            <td>{{movie.id}}</td>
            <td>{{movie.name}}</td>
            <td>{{movie.author}}</td>
            <td><button type="button" [routerLink]="movie.id" class="btn btn-primary">Pokaż</button></td>
          </tr>
        </tbody>
        
      </table>
