<div class="container">
    <h1 class="display-1 text-left text-md-left" style="font-family: 'Charm', sans-serif;">Masz pytania?</h1>
    <h2 class="display-4 text-left text-md-left" >Skontaktuj się z nami.</h2>
    <p class="lead">Oto adresy mailowe do osób z naszego zespołu.</p>
    <p class="text-muted">
        Karol Dec w57007@poczta.wsiz.rzeszow.pl <br>
        Mateusz Prokop w56999@poczta.wsiz.rzeszow.pl <br>
        Maksymilian Przybyło w57018@poczta.wsiz.rzeszow.pl <br>
        Patryk Kowal w57017@poczta.wsiz.rzeszow.pl <br>
    </p>
    
    
</div>